---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { footerData } from '~/navigation';

import type { MetaData } from '~/types';
import { getPermalink } from '~/utils/permalinks';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
export interface Props {
  metadata?: MetaData;
  enableAnnouncement?: boolean;
}

const { metadata, enableAnnouncement } = Astro.props;
---

<Layout metadata={metadata}>
  {
    enableAnnouncement && (
      <slot name="announcement">
        <Announcement />
      </slot>
    )
  }
  <slot name="header">
    <Header
      isSticky
      showLangToggle
      showToggleTheme
      actions={[{ text: t('contact_us'), href: getPermalink('/contact') }]}
    />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
